name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          width: 900
          height: 120
          # cobra em roxo/neon
          color_snake: "#ff00ff"
          # fundo bem escuro + tons de verde (contribuições)
          color_dots: "#0d1117,#003820,#005826,#1f6f3f,#2ea043"
          outputs: |
            dist/snake.svg

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
